$slick-font-path: "./../vendor/slicky-slider/fonts/";
$slick-arrow-color: blue;

@font-face {
    font-family: "LucidaGrade, sans-serif";
    src: url('../fonts/LucidaGrande.ttf')format('truetype');
}

@font-face {
    font-family: "LucidaGradeBold, sans-serif";
    src: url('../fonts/LucidaGrandeBold.ttf')format('truetype');
}

